{% load static %}
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <img src="{% static 'images/logo_on_blue.png' %}" class="img-fluid">

            </div>
        </div>
        
    </div>

    <ul class="list-unstyled components">
        
        <li class="active">
            <a href="{% url 'dashboard' %}" >
                <i class="fa fa-tachometer mr-3"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'categories' %}"><i class="fa fa-tags mr-3"></i>Categories</a>
        </li>
        <li>
            <a href="{% url 'services' %}"><i class="fa fa-cogs mr-3"></i>Services</a>
        </li>
        
        
        <li>
            <a href="{% url 'articles' %}"><i class="fa fa-clipboard mr-3"></i>Articles</a>
        </li>
        <li>
            <a href="{% url 'projects' %}"><i class="fa fa-code-fork mr-3"></i>Projects</a>
        </li>
        <li>
            <a href="{% url 'feedback' %}"><i class="fa fa-comments mr-3"></i>Feedback</a>
        </li>
        <li>
            <a href="{% url 'seo' %}"><i class="fa fa-globe mr-3"></i>SEO</a>
        </li>
        
    </ul>
</nav>