:root{

    --primary: #081040;
    --primary_hover: #020822;
    --secondary: #00BCE9;
    --secondary-hover: #028daf;
    --accent: #BCE900;
    --accent-hover: #8caf00;
    --light-background: #08104010;
    /* --light-background: #0810401a; */


}

body{
    background-color: var(--light-background);
    font-family: 'League Spartan', arial;
}
.wrapper {
    display: flex;
    width: 100vw;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: var(--primary);
    color:white;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 40px;
    background: var(--primary);
}

#sidebar ul.components {
    padding: 0 0;
    border-bottom: 1px solid var(--primary_hover);
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background: var(--secondary);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: var(--primary);
    background: white;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--primary);
}