:root{

    --primary: #081040;
    --primary_hover: #020822;
    --secondary: #00BCE9;
    --secondary-hover: #028daf;
    --accent: #F09808;
    --accent-hover: #F09808;
    --light-background: #08104010;

}

.banner{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/landing.jpg");
  }

  #overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(to right, rgba(0,17,49,0.9), rgba(0,17,49,0.5),rgba(0,17,49,0.1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0,17,49,0.9),rgba(0,17,49,0.5), rgba(0,17,49,0.1));
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.fixed-top.scrolled {
    background-color: var(--primary);
    transition: background-color 200ms linear;

}


.btn-main{
    color: white;
    background-color: var(--primary);
}
.btn-outline-main{
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}
.btn-outline-main:hover{

    color: white;
    background-color: var(--primary_hover);
}

.btn-text-main{
    color: var(--primary);
    background-color: var(--light-background);
    border: 1px solid var(--light-background);
}

.btn-text-main:hover{
    color: var(--primary);
    background-color: #bbc1df;
}

.btn-main:hover{
    color: white;
    background-color: var(--primary_hover);
}

.btn-sec{
    color: white;
    background-color: var(--secondary);
}

.btn-sec:hover{
    color: white;
    background-color: var(--secondary-hover);
}

.btn-black{
    color:white;
    background-color: #0b0500;
}

.btn-black:hover{
    color:white;
    background-color: #0b0500;
}

.bg-main{

    background-color: var(--primary);

}

.bg-raja{
    background-color: #f3c178;
}

.text-raja{
    color:#f3c178;
}
.text-sec{
    color:var(--secondary);
}
.text-main{
    color:var(--primary);
}
.bg-black{
    background-color: #0b0500;

}

.text-acc{
    color: var(--accent) !important;
}

canvas {
  
    position: absolute;
    top: 0;
    left: 0;
    background-color: white!important;
  }

  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}