@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root{

    --primary: #081040;
    --primary_hover: #020822;
    --secondary: #00BCE9;
    --secondary-hover: #028daf;
    --accent: #F09808;
    --accent-hover: #F09808;
    --light-background: #08104010;
    --transition-time: 0.5s;
    --color: #081040;


}
body{
    background-color: var(--light-background);
    font-family: 'Heebo';
}

.banner{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/landing.jpg");
  }

  .small-banner{
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../images/landing.jpg");
  }


  #overlay-small {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(to right, rgba(0,17,49,0.9), rgba(0,17,49,0.5),rgba(0,17,49,0.1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0,17,49,0.9),rgba(0,17,49,0.5), rgba(0,17,49,0.1));
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

  #overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(to right, rgba(0,17,49,0.9), rgba(0,17,49,0.5),rgba(0,17,49,0.1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0,17,49,0.9),rgba(0,17,49,0.5), rgba(0,17,49,0.1));
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.fixed-top.scrolled {
    background-color: #081040e5;
    transition: background-color 200ms linear;

}

.btn-acc:hover{

  color: var(--primary);
  background-color: var(--accent-hover);
}


.btn-main{
    color: white;
    background-color: var(--primary);
}
.btn-outline-main{
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}

.btn-acc{
    color: black;
    background-color: var(--accent);
}
.btn-outline-main{
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}
.btn-outline-main:hover{

    color: white;
    background-color: var(--primary_hover);
}

.btn-text-main{
    color: var(--primary);
    background-color: var(--light-background);
    border: 1px solid var(--light-background);
}

.btn-text-main:hover{
    color: var(--primary);
    background-color: #bbc1df;
}

.btn-main:hover{
    color: white;
    background-color: var(--primary_hover);
}

.btn-sec{
    color: white;
    background-color: var(--secondary);
}


.btn-sec:hover{
    color: white;
    background-color: var(--secondary-hover);
}

.btn-black{
    color:white;
    background-color: #0b0500;
}

.btn-black:hover{
    color:white;
    background-color: #0b0500;
}

.bg-main{

    background-color: var(--primary);

}

.bg-raja{
    background-color: #f3c178;
}

.text-raja{
    color:#f3c178;
}
.text-sec{
    color:var(--secondary);
}
.text-main{
    color:var(--primary);
}
.bg-black{
    background-color: #0b0500;

}

.text-acc{
    color: var(--accent) !important;
}

.article-card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 15em;
    width: 10em;
    font-size: 1.5em;
    color: white;
    border-radius: 0.2em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
  }
  
  .article-card:hover {
    transform: rotate(0);
  }
  
  .article-card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .article-card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
  }
  
  .article-card .tags {
    display: flex;
  }
  
  .article-card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .article-card:hover .tags .tag {
    background: var(--color);
    color: white;
  }
  
  .article-card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
  }
  
  .article-card:before, .article-card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .article-card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }
  
  .article-card:after {
    background: white;
    width: 200%;
    height: 200%;
  }
  
  .article-card:hover {
    color: var(--color);
  }
  
  .article-card:hover:before, .article-card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .article-card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  }


  .bg-main-light{
    background-color:#081040ec;
}

.bg-main-lighter{
    background-color:#08104065;
}

.bg-acc{
    background-color:var(--accent);
}
  .bg-acc-light{
      background-color:#f09708e8;
  }
  .bg-acc-lighter{
    background-color:#f097084b;
}

  .servcies-section{
      margin-top: -100px;
  }

  .bg-sec-light{
    background-color:#00bae9d8;
}
.bg-sec-lighter{
  background-color:#00bae983;
}

.bg-light{

    color: var(--light-background)!important;

}

.bg-trans{
    background-color: transparent;
}


.project-image{

    /* margin-left: -3em; */
    height: 300px;
    object-fit: cover;
}



.post{
  background-color: white;
  border-radius: .625rem;
  width: 30%;
  overflow: hidden;
  transition: all .5s ease-out;
  cursor: pointer;
}

.post:hover{
  box-shadow: 0px 15px 27px -5px rgba(240, 211, 211, .95);
}

.post:hover .post__image-container img{
  transform: scale(1.1);
}

.post:nth-of-type(2){
  margin: 0 2rem;
}

.post__image-container{
  overflow: hidden;
}

.post__image-container img{
  height: 12.5rem;
  width: 100%;
  object-fit: cover;
  transition: all .5s ease-out;
}

.post__text-container{
  padding: 1rem;
}

.post__text-container > *:not(:last-child){
  margin-bottom: .5rem;
}

.post__tag{
  display: inline-block;
  padding: .3125rem .625rem;
  border-radius: .75rem;
  color: white;
  font-size: .745rem;
  text-transform: uppercase;
}

.post__profile{
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post__author-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 1rem;
}

/* ---- Media Queries ---- */

@media screen and (max-width: 900px){

  .post{
      width: 100%;
      max-width: 18.75rem;
  }

  .post:not(:last-of-type){
      margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 600px){
  .post:nth-of-type(2){
      margin-left: initial;
      margin-right: initial;
  }
}