:root{

    --primary: #081040;
    --primary_hover: #020822;
    --secondary: #00BCE9;
    --secondary-hover: #028daf;
    --accent: #BCE900;
    --accent-hover: #8caf00;
    --light-background: #08104010;

}

.btn-main{
    color: white;
    background-color: var(--primary);
}
.btn-outline-main{
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}
.btn-outline-main:hover{

    color: white;
    background-color: var(--primary_hover);
}

.btn-text-main{
    color: var(--primary);
    background-color: var(--light-background);
    border: 1px solid var(--light-background);
}

.btn-text-main:hover{
    color: var(--primary);
    background-color: #bbc1df;
}

.btn-main:hover{
    color: white;
    background-color: var(--primary_hover);
}

.btn-sec{
    color: white;
    background-color: var(--secondary);
}

.btn-sec:hover{
    color: white;
    background-color: var(--secondary-hover);
}

.btn-black{
    color:white;
    background-color: #0b0500;
}

.btn-black:hover{
    color:white;
    background-color: #0b0500;
}

.bg-main{

    background-color: var(--primary);

}

.bg-raja{
    background-color: #f3c178;
}

.text-raja{
    color:#f3c178;
}
.text-sec{
    color:var(--secondary);
}
.text-main{
    color:var(--primary);
}
.bg-black{
    background-color: #0b0500;

}
