{% extends 'layouts/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block 'content' %}



<div class="container-fluid">

  <div class="row justify-content-center pt-5 mb-5 bg-main small-banner">
    <div id="overlay-small"></div>
      <div class="col-lg-8">

        <h2 class="text-center text-light mt-3">Let's get you back in</h4>


      </div>
  </div>



  <div class="card mx-5 my-4 shadow">
    <div class="card-body">

      <h2 class="text-center mb-0">Resest Password</h2>
      <div class="row no-gutter mt-0">

        <div class="col-lg-5 col-md-12 col-sm-12 ">
    
          <img src="{% static 'images/landing.svg' %}" class="img-fluid"
                                         alt="Landing page image">
        </div>
    
        <div class="col-lg-6 col-md-12 col-sm-12 py-5 pr-5">
    
          
        <form action="" method="post">

          {% include 'layouts/form-layout.html' %}
          
          </form>
          
      
       
        </div>
      </div>
      
    </div>
  </div>

  
</div>

{% endblock %}