{% extends 'layouts/base.html' %}

{% load static %}

{% block 'content' %}

<div class="container-fluid mb-5">

    <div class="row justify-content-center pt-5 mb-5 bg-main small-banner">
      <div id="overlay-small"></div>
        <div class="col-lg-8">

          <h2 class="text-center text-light mt-3 font-weight-bold">Our Vision</h2>
            <h6 class="text-center text-light">To make the world a small village through technology</h5>



        </div>
    </div>



    <h3 class="font-weight-bold mt-5 mx-lg-5 text-center">Who we are</h3>
    <div class="row justify-content-center mb-5">

        <div class="col-lg-4 mt-3 py-3">

            <!-- <h3 class="font-weight-bold">Why we do what we do!</h3> -->
            <h5 class="">
                Peakers Technologies  was founded on the belief that a business doesn't have to compromise to create great products at great prices. Launched with the same courageous spirit, we began this journey with a clear objective:
                <span class="text-acc">to offer the highest quality software and services</span>.</h5>

        </div>

        <div class="col-lg-4 mt-3 py-3">

            <!-- <h3 class="font-weight-bold mt-5">Why you should work with us!</h3> -->

            <h5 class="">
                We love what we do and we do what our clients love. We have experience creating thoughtful and purposeful websites for great clients from all over the world.
                <br>This gives us the added advantage to help you bring your idea to life. </h5>
        </div>

    </div>

    <div class="row justify-content-center mb-5 mt-5">

        <div class="col-lg-10 mb-5 mt-5">
            <div class="card bg-main-light border-0">
                <div class="card-body text-light">
                    <h5 class="mx-5 text-center mt-3 mb-4">Let us take you into a deeper experience, make a moment a lasting conveyable memory. Let us help build your tribe.
                    </h5>
                
                    <div class="d-flex flex-row justify-content-center">
                        <a href="{% url 'all_projects' %}" class="btn btn-outline-light px-5 mx-1">See our work</a>
                        <a href="{% url 'contact' %}" class="btn btn-acc px-5 mx-1">Get a quote</a>
                    </div>
                
                
                </div>
            </div>
        </div>
    </div>

   

    <h3 class="font-weight-bold mt-5 mb-3 mx-lg-5 text-center">Our Team</h3>


    <div class="row justify-content-center">
        <div class="col-lg-4 my-2">
            <div class="card border-0  rounded">
                <div class="card-body">

                    <div class="container-fluid">

                        <div class="row ">

                            <div class="col-lg-12 d-flex flex-column align-content-center">
                                <img src="{% static 'images/cetric.jpeg'%}" class="avatar shadow mx-auto">
    
                            </div>
    
    
                            <div class="col-lg-12 d-flex flex-column justify-content-center align-content-center">
                                <!-- <small>{{project.service}}</small> -->
                                <h5 class="font-weight-bold text-main text-center mt-3 ">Cetric Omwembe</h5>
                                <p class="text-center ">Project Manager</p>
    
                                <!-- <a href="#" class="btn btn-acc w-50">See More</a> -->
                            </div>
                        </div>
                        
                    </div>

                    
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-2">
            <div class="card border-0  rounded">
                <div class="card-body">

                    <div class="container-fluid">

                        <div class="row">

                            <div class="col-lg-12 d-flex flex-column align-content-center">
                                <img src="{% static 'images/gash.jpg' %}" class="avatar shadow mx-auto" >
    
                            </div>
    
    
                            <div class="col-lg-12 d-flex flex-column justify-content-center">
                                <!-- <small>{{project.service}}</small> -->
                                <h5 class="font-weight-bold text-main text-center mt-3">Brian Gachiri</h5>
                                <p class="text-center ">Software Developer</p>
                                <!-- <a href="#" class="btn btn-acc w-50">See More</a> -->
                            </div>
                        </div>
                        
                    </div>

                    
                </div>
            </div>
        </div>


    </div>

   

    
</div>


  


{% endblock %}

{% block 'scripts' %}



{% endblock %}